body {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #000000;
  text-align: center;
}

.inputField {

  font-size: 20px;
  padding: 20px;
  width: 50%;
}

form {
  text-align: center;
}

label {
  font-family: 'Montserrate', sans-serif;
  font-size: 20px;
  color: #000000;
  padding: 10px;
}

.inputField:focus {
  background: transparent;
  box-shadow: none;
  outline: none;
}

.button {
  font-size: 20px;
  color: white;

  border: none;
  border-radius: 5px;
  background-color: #ff0f0f;
  padding: 15px;

  margin-left: 40px;

}

.button:hover {
  background-color: #ccc;
}

@media (max-width: 580px) {
  .button {
    display: none;
  }
}

.tweet {
  border: solid;
  border-radius: 5px;
  border-color: #000000;

  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

  font-family: 'Montserrat', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  background-color: transparent;
  color: #040607;
}
a:hover{
  color: crimson;
}
#header {
  text-decoration: none;
}

footer {
  font-family: 'Montserrat';
  color: #f30c1f;
  font-size: 20px;
  padding-top: 10%;
  text-align: center;
}
